body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #006b3c;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: blue; white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #006b3c;
    color: white;
}

